.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
}
.main {
  margin-top: 0.6rem;
}
.themeSwitcher {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #b3c5cd;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.headerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5%;
  position: fixed;
  top: 0.9em;
  right: 1.5em;
}

@media only screen and (max-width: 600px) {
  .headerLinks {
    right: 3em;
  }
}
